@model GitHub.Models.Clients

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClientsView</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>
                    ClientId : @Model.ClientId
                </td>
            </tr>
            <tr>
                <td>
                    Client Name : @Model.ClientName
                </td>
            </tr>
        </table>

    </div>
</body>
</html>
